body{
    background-color: gainsboro;
}
.head{
    text-align: center;
    background-image: url("pcs/images(158)");
    color: black;
    height: 200px;
    font-weight: bolder;
}
form{
    background-image: url("pcs/images(175)");
    background-size: cover;
    color: white;
    font-size: large;
}






